<div *ngIf="!selected">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <th>Workout ID</th>
      <th>Day</th>
      <th>Name</th>
    </thead>
    <tbody>
      <tr *ngFor="let wo of workout">
        <td (click)="displayWorkout(wo)">{{wo.id}}</td>
        <td>{{wo.day}}</td>
        <td>{{wo.name}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteWorkout(wo.id)">
            X
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <p>Average RPE: {{averageRpe() | number:'1.1-1'}}</p>
  <form>
    <input type="text"
    name="workout"
    [(ngModel)]="newWorkout.name"
    />
    <button class="btn btn-primry" (click)="addWorkout(newWorkout)">Add Workout</button>
  </form>
</div>

<div id="workoutDetail" *ngIf="selected && !editWorkout">
  <p>ID: {{selected.id}}</p>
  <p>Day: {{selected.day}}</p>
  <p>Name: {{selected.name}}</p>
  <p>Group: {{selected.group}}</p>
  <p>Weight: {{selected.weight}}</p>
  <p>Sets: {{selected.sets}}</p>
  <p>RPE: {{selected.rpe}}</p>

  <button class="btn btn-outline-danger" (click)="displayTable()">Back</button>
  <button class="btn btn-outline-primary" (click)="setEditWorkout()">Edit</button>
</div>

<div id="workoutEdit" *ngIf="editWorkout">
  <form>
    <label for="workout">Workout</label>
    <input type="text" name="workout" [(ngModel)]="editWorkout.name"/><br/>

    <label for="day">Day</label>
    <input
      type="text"
      name="day"
      [(ngModel)]="editWorkout.day"
    /><br>

    <label for="name">Name</label>
    <input
      type="text"
      name="name"
      [(ngModel)]="editWorkout.name"
    /><br>
    <button (click)="editWorkout = null">Cancel</button>
    <button (click)="updateWorkout(editWorkout)">Save</button>
  </form>
</div>
